.feu{
    position: absolute;
    width: 200px;
    height: 500px;
    background-color: black;
    top: 200px;
}
#feu1{
    left: 500px;
}
#feu2{
    left: 1000px;
}
.feu_rouge{
    top:50px;
}
#feu1_rouge{
    animation-name:feu1_rouge;
    animation-duration: 9s;
    animation-iteration-count: infinite;
 }
@keyframes feu1_rouge {
    0% {background-color: transparent;}
    33% {background-color: transparent;}
    66% {background-color: red;}
    100% {background-color: transparent;}
}
/*#feu_rouge:hover{*/
    /*background-color: red;*/
/*}*/
.feu_orange{
    top:200px;
}
#feu1_orange{
    animation-name:feu1_orange;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    /*animation-delay: 3s;*/
}
@keyframes feu1_orange {
    0% {background-color: transparent;}
    33% {background-color: orange;}
    66% {background-color: transparent;}
    100% {background-color: transparent;}
}
/*#feu_orange:hover{*/
    /*background-color: orange;*/
/*}*/
.feu_vert{
    top:350px;
}
#feu1_vert{
    animation-name:feu1_vert;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes feu1_vert {
    0% {background-color: green;}
    33% {background-color: transparent;}
    66% {background-color: transparent;}
    100% {background-color: green;}
}
/*#feu_vert:hover{*/
    /*background-color: green;*/
/*}*/
.feu_couleur{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    border-radius: 50%;
    border: 1px solid #646464;
}
/*.feu_couleur:hover{*/
    /*border: none;*/
/*}*/